
<script type="text/javascript" src="~/Scripts/Library/top_menu.js"></script>
<style type="text/css">
    A:link {
        text-decoration: none;
        color: #ffb328;
    }

    ;

    A:visited {
        text-decoration: none;
        color: #ffb328;
    }

    ;
    A:active {
        text-decoration: none;
        color: #ffb328;
    }

    ;

    A:hover {
        text-decoration: none;
        color: #ffb328;
    }

    ;
</style>
<h2>CompanyList</h2>
